:root {
	--PRIMARY-BRAND: #4d5ae5;
	--PRESSED-STATE: #404bbf;
	--DARK: #2e2f42;
    --SUCCESS: #31d0aa;
	--TEXT: #434455;
	--LATE-TEXT: #8e8f99;
	--ACCENT: #e7e9fc;
	--LIGHT: #f4f4fd;
    --MODAL-OVERLAY: #2e2f42; /* 40% */
    --WHITE: #fff;
	--WHITE-BACKGROUND: #fff;
    --MODAL-BACKGROUND: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}
body {    
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
	color: var(--TEXT);
    background-color: var(--WHITE);
}
.container {
    max-width: 1158px;
    margin: auto;
}
.section {
    padding: 120px 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
}
.border-header {
    border-bottom: 1px solid var(--ACCENT);
}
.logo {
    color: var(--PRIMARY-BRAND);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.studio-dark {
    color: var(--DARK);
}
.studio-light {
    color: var(--LIGHT);
}
.list {
    list-style-type: none;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}
.wrap {
    flex-wrap: wrap;
}
.menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    color: var(--PRESSED-STATE);
}
.address {
    font-style: normal;
}
.address-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TEXT);
}
.address-item:hover,
.address-item:focus,
.address-item:active {
    color: var(--PRESSED-STATE);
}
.title {
    background-color: var(--DARK);
    text-align: center;
}
.title-header {
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--WHITE);
}
.order-btn {
    padding: 16px 32px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);
    background-color: var(--PRIMARY-BRAND);
    cursor: pointer;
}
.order-btn:hover,
.order-btn:focus,
.order-btn:active {
    background-color: var(--PRESSED-STATE);
}
.section-title {
    margin-bottom: 72px;
    text-align: center; 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--DARK);
}
.none {
    display: none;
}
.section-item-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.section-item-img {
    display: block;
}
.section-item-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TEXT);
}
.img-border {
    border: 1px solid var(--ACCENT);
}
.we-do {
    padding-top: 0;
}
.our-team {
    background-color: var(--LIGHT);
}
.our-team-item {
    background-color: var(--WHITE-BACKGROUND);
    text-align: center;
}
.img-caption {
    padding: 32px 16px;
}
.border {
    border: 1px solid var(--ACCENT);
}
.filters-list {
    justify-content: center;
    margin-bottom: 72px;
}
.filters-btn {
    padding: 12px 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--PRIMARY-BRAND);
    background-color: var(--LIGHT);
    cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus,
.filters-btn:active {
    color: var(--WHITE);
    background-color: var(--PRESSED-STATE);
}
.footer {
    background-color: var(--DARK);
    padding: 100px 0;
}
.footer-txt {
    color: var(--LIGHT, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}