:root {
	--PRIMARY-BRAND: #4d5ae5;
	--PRESSED-STATE: #404bbf;
	--DARK: #2e2f42;
    --SUCCESS: #31d0aa;
	--TEXT: #434455;
	--LATE-TEXT: #8e8f99;
	--ACCENT: #e7e9fc;
	--LIGHT: #f4f4fd;
    --MODAL-OVERLAY: #2e2f42; /* 40% */
    --WHITE: #fff;
	--WHITE-BACKGROUND: #fff;
    --MODAL-BACKGROUND: #fcfcfc;
}
* {
  margin: 0;
  padding: 0;
}
body {    
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
	color: var(--TEXT);
    background-color: var(--WHITE);
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    margin: auto;
    padding: 0 15px;
}
.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
}
.section {
    padding: 120px 0;
}
.section.motto {
    padding: 188px 0;
    background-color: var(--DARK);
    text-align: center;
}
.section.we-do {
    padding-top: 0;
}
.section.our-team {
    background-color: var(--LIGHT);
}
.link {
    text-decoration: none;
}
.list {
    list-style-type: none;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}
.list-filters {
    justify-content: center;
    margin-bottom: 72px;
}
.wrap {
    flex-wrap: wrap;
}
.header-top-border {
    border-bottom: 1px solid var(--ACCENT);
}
.menu {
    display: flex;
    align-items: center;
    gap: 40px; 
}
.logo {
    margin-right: 76px;
    color: var(--PRIMARY-BRAND);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.studio-dark {
    color: var(--DARK);
}
.studio-light {
    color: var(--LIGHT);
}
.item-menu {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.item-address {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TEXT);
}
.item:hover,
.item:focus,
.item:active {
    color: var(--PRESSED-STATE);
}
.item-our-philosophy {
    width: calc((100% - 72px) / 4);
}
.item-we-do,
.item-our-team,
.item-portfolio {
    width: calc((100% - 48px) / 3);
}
.title-motto {
    max-width: 496px;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: var(--WHITE);
}
.title-section {
    margin-bottom: 72px;
    text-align: center; 
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--DARK);
}
.title-item-our-philosophy {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.title-item-our-team {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.title-item-portfolio {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--DARK);
}
.txt-item- {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--TEXT);
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.btn.order {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px; 
    color: var(--WHITE);
    background-color: var(--PRIMARY-BRAND);
    cursor: pointer;
}
.btn.filters {
    padding: 12px 24px;
    color: var(--PRIMARY-BRAND);
    background-color: var(--LIGHT);
    border: 1px solid var(--ACCENT);
    cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active {
    background-color: var(--PRESSED-STATE);
}
.visually-hidden {
    display: none;
}
.caption-our-team {
    padding: 32px 16px;
    text-align: center;
    background-color: var(--WHITE-BACKGROUND);
}
.img-border {
    border: 1px solid var(--ACCENT);
}
.footer {
    background-color: var(--DARK);
    padding: 100px 0;
}
.footer-txt {
    color: var(--LIGHT, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}